<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/header %>
	<link rel="stylesheet" href="/css/scams.css">
</head>

<body class="container-grid">
	<div class="navbar-grid-frame">
			<% include ../partials/navbar %>
	</div>
	<div class="stats-grid-frame">
			<% include ../partials/stats %>
	</div>
	<div class="search-grid-frame">
			<% include ../partials/search %>
	</div>
	<div class="scams-table-grid-frame">
			<table class="sortable">
					<thead>
						<tr>
							<% if(sorting == "name") { %>
								<th class="sorted descending">Name</th>
							<% } else { %>
								<th>Name</th>
							<% } %>
							<% if(sorting == "category") { %>
								<th class="sorted descending">Category</th>
							<% } else { %>
								<th>Category</th>
							<% } %>
							<% if(sorting == "subcategory") { %>
								<th class="sorted descending">Subcategory</th>
							<% } else { %>
								<th>Subcategory</th>
							<% } %>
							<% if(sorting == "status") { %>
								<th class="sorted descending">Status</th>
							<% } else { %>
								<th>Status</th>
							<% } %>
					</tr></thead>
					<tbody>
						<% scams.forEach(scam => { %>
		
							<tr id="table-row" onclick="location.href='/domain/<%= scam.getHostname() %>'">
									<% if(scam.getHostname().length > 40) { %>
										<td><%= scam.getHostname().substring(0, 40) %>...</td>
									<% } else { %>
										<td><%= scam.getHostname() %></td>
									<% } %>
									<% if("category" in scam && scam.category) { %>
										<% if(scam.category == "Phishing") { %>
											<td><img src='/assets/symbols/<%= scam.category.toLowerCase().replace(/\s/g, "") %>.svg' class='categoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  Phishing</td>
										<% } else if(scam.category == "Scamming") { %>
											<td><img src='/assets/symbols/<%= scam.category.toLowerCase().replace(/\s/g, "") %>.svg' class='categoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  Scamming</td>
										<% } else if(scam.category == "Fake ICO") { %>
											<td><img src='/assets/symbols/<%= scam.category.toLowerCase().replace(/\s/g, "") %>.svg' class='categoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  Fake ICO</td>
										<% } else { %>
											<td><img src='/assets/symbols/<%= scam.category.toLowerCase().replace(/\s/g, "") %>.svg' class='categoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  <%= scam.category %></td>
										<% } %>
									<% } else { %>
										<td><i class="remove icon"></i> None</td>
									<% } %>
									
									<% if("subcategory" in scam && scam.subcategory) { %>
										<% if(scam.subcategory == "Wallets") { %>
											<td><img src='/assets/<%= scam.subcategory.toLowerCase().replace(/\s/g, "") %>.svg' class='subcategoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  Wallets</td>
										<% } else if(scam.subcategory == "Trust-Trading") { %>
											<td><img src='/assets/symbols/<%= scam.subcategory.toLowerCase().replace(/\s/g, "") %>.svg' class='subcategoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  Trust-Trading</td>
										<% } else if(scam.subcategory == "Ponzi") { %>
											<td><img src='/assets/symbols/<%= scam.subcategory.toLowerCase().replace(/\s/g, "") %>.svg' class='subcategoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  Ponzi</td>
										<% } else { %>
											<td><img src='/assets/<%= scam.subcategory.toLowerCase().replace(/\s/g, "") %>.png' class='subcategoryicon' style="height:24px; width:24px;" onerror="this.style.display='none'" />  <%= scam.subcategory %></td>
										<% } %>
									<% } else { %>
										<td><i class="remove icon"></i> None</td>
									<% } %>
									
									<% if("status" in scam && scam.status) { %>
										<% if(scam.status == "Active") { %>
											<td class='active margin-12' id="center-content"><img src='/assets/symbols/exclamation.svg' class='statusicon' style="height:11.5px; width:11.5px;" onerror="this.style.display='none'" /> <span> Active </span></td>
										<% } else if(scam.status == "Inactive") { %>
											<td class='suspended margin-12' id="center-content"><img src='/assets/symbols/check.svg' class='statusicon' style="height:11.5px; width:11.5px;" onerror="this.style.display='none'" /> <span> Suspended</span></td>
										<% } else if(scam.status == "Suspended") { %>
											<td class='suspended margin-12' id="center-content"><img src='/assets/symbols/x.svg' class='statusicon' style="height:11.5px; width:11.5px;" onerror="this.style.display='none'" /> <span> Suspended</span></td>
										<% } else if(scam.status == "Offline") { %>
											<td class='offline margin-12' id="center-content"><img src='/assets/symbols/check.svg' class='statusicon' style="height:11.5px; width:11.5px;" onerror="this.style.display='none'" /> <span> Offline</span></td>
										<% } %>
									<% } else { %>
										<td>Unknown</td>
									<% } %>	
							</tr>
							
						<% }); %>
					</tbody>
				</table>
				<br>
				<% if(page !== "all") { %>
					<div class="">
						<% 
						let strPagination = "";
						let intCurrentPage = parseInt(page || 0);
						let arrLoop = [-2, 3];
						
						if (intCurrentPage == 0) arrLoop = [1, 6];
						else if (intCurrentPage == 1) arrLoop = [0, 5];
						else if (intCurrentPage == 2) arrLoop = [-1, 4];
	
						for (var i = arrLoop[0]; i < arrLoop[1]; i++) {
							var intPageNumber = intCurrentPage+i;
							var strItemClass = "item";
							var strHref = "/scams/" + intPageNumber + "/";
							
							if (sorting) strHref += sorting + "/";
							if ((intPageNumber > (scamsLength) / MAX_RESULTS_PER_PAGE) || (intPageNumber < 1)) {
								strItemClass = "disabled item";
								strHref = "#";
							} else if (intCurrentPage == intPageNumber) {
								strItemClass = "active item";
							}
							strPagination += "<a href='" + strHref + "' class='" + strItemClass + "'>" + intPageNumber + "</a>";
						}
						
						if (intCurrentPage > 3) {
							if (sorting) {
								strPagination = "<a class='item' href='/scams/1/" + sorting + "'><i class='angle double left icon'></i></a>" + strPagination;
							} else {
								strPagination = "<a class='item' href='/scams/1/" + sorting + "'><i class='angle double left icon'></i></a>" + strPagination;
							}
						}
						
						if (intCurrentPage < Math.ceil(scamsLength / MAX_RESULTS_PER_PAGE) - 3) {
							if (sorting) {
								strPagination += "<a class='item' href='/scams/" + (Math.ceil(scamsLength / MAX_RESULTS_PER_PAGE) - 1) + "/" + sorting + "'><i class='angle double right icon'></i></a>";
							} else {
								strPagination += "<a class='item' href='/scams/" + (Math.ceil(scamsLength / MAX_RESULTS_PER_PAGE) - 1) + "'><i class='angle double right icon'></i></a>";
							}
						}
						%>
						<%- strPagination %>
					</div>
				<% } %>
	</div>
	<div class="footer-grid-frame">
			<% include ../partials/footer %>
	</div>

	</div>
	<script src="/js/scams.js"></script>
</body>

</html>